
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    background-color: black;
}
.navbar{
    background-color: rgb(12, 12, 12);
    padding: 10px;
}
.navbar .logo{
    float: left;
}
.navbar .btn{
    margin-top: 11px;
    border-radius: 5px;
    font-size: small;
    padding: 8px 12px;
    float: right;
    color: black;
    background-color: white;
}
.navbar::after{
    content:'';
    display: block;
    clear: both;
}
.container{
    margin: 0 150px;
}
.container h3{
    padding: 40px 0;
}
.container table{
    border-color: lightgray;
    border-collapse: collapse;
}
.container table th,td{
    padding: 10px;
}
.container table td{
    font-size: small;
}
footer{
    background-color: rgb(12, 12, 12);
    padding: 15px 0;
    color: whitesmoke;
}
.color-gray{
    background-color: rgb(21, 20, 20);
}


